<div class="backdrop">
  <div "absolute full-height full-width" center relative>
    <div id="main"></div>
  </div>
</div>

<script>
  $(document).ready(function () {
    Gamehub.initialize();
  })
</script>
