<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <video controls preload="none" autoplay loop style="width:100%; height: auto; position:absolute; z-index: -1;">
          <source src="http://syddev.com/jquery.videoBG/assets/tunnel_animation.mp4" type="video/mp4" />
          <source src="http://syddev.com/jquery.videoBG/assets/tunnel_animation.ogv" type="application/ogg" />
          <img src="http://syddev.com/jquery.videoBG/assets/tunnel_animation.jpg">
        </video>
        <div class="site-heading">
          <h1>My Blogs</h1>
          <hr class="small">
          <span class="subheading">All yo awesome, incredible , fabulous, cool blogs</span>
        </div>
        <a class="btn btn-success" href="#/blogs/new">New Blog! <span class="glyphicon glyphicon-plus"></a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="index">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="blogs-index">
        </div>
    </div>
</div>
